.fs {
  border: none;
}
.title {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.active {
  opacity: 1;
  transform: translateY(-20px);
}
.input {
  padding: 7px 14px;
  border-radius: 4px;
  font-weight: bold;
}

.input:focus {
  outline: none;
}
.input::placeholder {
  transition: 0.5s;
}
.input:focus::placeholder {
  transform: translateY(-20px);
  opacity: 0;
}
.form {
  margin: 100px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: max-content;
  padding: 0 25px 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 4px;
}
.button {
  background: none;
  padding: 7px 14px;
  border-radius: 4px;
}
.error {
  color: red;
  font-size: 0.7rem;
}
