html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  padding: 50px 100px 20px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #1a4d2e;
    background: #000000;
  }
  a {
    color: #ff9f29;
  }
  a:hover {
    color: #faf3e3;
    text-decoration: underline;
  }
}
